/* Menu styles  */
/* FormDemo.css */

.form-demo .card {
     min-width: 90%;
     display: flow-root;
 }
 .p-menubar.p-component{
    width: 80%;
    background: none;
    border: none;
    padding: 30px;
 }
 .p-menubar {
    display: flex;
    place-content: space-between;
 }
 .form-demo .card form {
     margin-top: 2rem;
 }
 .form-demo .card .field {
     margin-bottom: 1.5rem;
 }
 @media screen and (max-width: 960px) {
     .form-demo .card {
         width: 80%;
     }
 }
 @media screen and (max-width: 640px) {
     .form-demo .card {
         width: 100%;
         min-width: 0;
     }
 }

 /*  dialog styles  */

.dialog-demo .p-button {
     margin: 0 .5rem 0 0;
     min-width: 10rem;
 }
 
 .dialog-demo p {
     margin: 0;
     line-height: 1.5;
 }

 .dialog-demo .p-dialog .p-button {
     min-width: 6rem;
 }
 #pr_id_4{
     width: 38vw !important;
 }


 /*  caursol  */
.css-1x1xx5k {
    width: 80%;
    height: 865px;
    max-width: 4000px  !important;
    margin: 0px 10%;
}
.MuiBox-root.css-1xgsf0v{
    width: 100%;
    height: 800px;
    max-width: 4000px  !important;

}
.carousel-container{
display: flex;
align-items: center;
place-items:center;
}     

.css-zjf1nq-MuiPaper-root{
    background: transparent !important;
}

.css-zjf1nq-MuiPaper-root{
    display: none !important;
}
